<nav1>
  
    <ul>
      
              <form action="/questions/create" method="post">
                <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;글을 쓰자</h2><br>

            <li><input type='text' name='input_name' class="form-control"  placeholder='제목'></li>
           
            <li><input type='text' name='input_content'  class="form-control"  placeholder='내용'></li>
         
                  <li>
                    
                          <button class="btn btn-success" type="submit">제출</button>
                
                  </li>

              </form>
         
           
        </ul>

    </nav1>
