<form class = 'container'>
      <div class="row">
    <div class="col-md-12">
      <div class="thumbnail">
          <img src="http://file2.instiz.net/data/file/20150303/e/6/2/e627f7384a0d23e70e96a51d765c9899.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>기중이의 마스코트 페페의 사진이다.<a class="btn default pull-right"><%= current_user.email %></a></p>
          </div>
        </a>
      </div>
    </div>



</form>